@model IEnumerable<BikeStoreMVC.Models.tbl_product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_category.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_colour.colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_description.description)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tbl_model.model)*@
            @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParam})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_size.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_sub_category.subcategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_category.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_colour.colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_description.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_model.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_size.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_sub_category.subcategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.proID }) |
            @Html.ActionLink("Details", "Details", new { id=item.proID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.proID })
        </td>
    </tr>
}

</table>
