@model IEnumerable<BikeStoreMVC.Models.tbl_colour>

@{
    ViewBag.Title = "Colours";
}

<h2>Colours</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.colour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.colour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.colID }) |
            @Html.ActionLink("Details", "Details", new { id=item.colID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.colID })
        </td>
    </tr>
}

</table>
